<header>
    <div class="container">
        <a href="index.html">
            <img src="assets/img/logo.svg" alt="logo">
        </a>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-list-item"><a href="#" class="header-list-link">Ціни та терміни</a></li>
                <li class="header-list-item"><a href="#" class="header-list-link">Послуги</a></li>
                <li class="header-list-item"><a href="#" class="header-list-link">Про компанію</a></li>
                <li class="header-list-item"><a href="#" class="header-list-link">Контакти</a></li>
                <li class="header-list-item"><a href="#" class="header-list-link">оформити вантаж</a></li>
            </ul>
        </nav>
        <button type="button" class="btn btn-primary">Залишити заявку</button>
    </div>
</header>

